<center><h1> Sign Up </h1></center>

<<<<<<< HEAD
<%= render 'form' %>
=======
    <%= f.label :username %>
    <%= f.text_field :username, :autofocus => true%>

    <%= f.label :email %><br />
    <%= f.email_field :email%>

    <%= f.label :password %><br />
    <%= f.password_field :password %>

    <%= f.label :password_confirmation %><br />
    <%= f.password_field :password_confirmation %>

    <%= f.submit "Sign up" %>
  <% end %>
>>>>>>> 5f2214830e9f280d4ba642612ce001ecd5800a73
